<a href="/users/<%= comment.get("author_id") %>"><img src="<%= comment.get("author_avator_url") %>"></a>
<h4><%= comment.escape("author_username") %></h4>
Posted <%= comment.escape("created_at")%>
<h5><%= comment.escape("body") %><h5>
