<div class="project-thumbnail thumbnail project page">
  <a href="<%= project_url(project)%>"><%= image_tag project.project_photo.url(:small) %></a>
  <div class="caption">
    <div class="description">
      <h5><%= link_to project.title, project_url(project) %></h5>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="<%= project.funded_percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= project.funded_percentage %>%;">
      </div>
    </div>
    <ul class="project-stat">  
      <li>
        <h5><%= project.funded_percentage %>%</h5>
        funded  
      </li>  
      <li>
        <h5><%= ActionController::Base.helpers.number_to_currency(project.back_total, precision: 0) %></h5>
        pledged
      </li>
      <li>
        <h5><%= project.days_to_go %></h5>
         days to go  
      </li>
    </ul>
  </div>
</div>
