<div class="container" id="main">
  <%= render "projects/notices" %>
  <div class="project-header">
    <h2><%= @project.title %></h2>
    

    <h4>by <%= link_to @project.creator.username, user_url(@project.creator) %></h4>
    <h4 id="backer-notice">
      <% if @project.backer?(current_user)%>
        <span class="glyphicon glyphicon-certificate"></span>
        You are backer!
      <% end %>
    </h4>    
  </div>

  <ul class="project-content-header">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#/backers">Backers</a></li>
    <li><a href="#/comments">Comments</a></li>
  </ul>
  
  <div class="panel panel-default project-content">
    <div class="panel-body clearfix">
      <div class="current-content">
        <div class="project-image"> 
          <%= image_tag @project.project_photo.url(:big) %>
        </div>
        <div class="project-description">
          <%= @project.description %>
        </div>
      </div>
      
      <div class="project-status">  
        <div class="project-status-item">
          <h1><%= @project.backers.uniq.count %></h1>
          <p>backers</p>
        </div>  
        
        <div class="project-status-item">
          <h1><%=  ActionController::Base.helpers.number_to_currency(@project.back_total, precision: 0) %></h1>
          <p>pledged of <%= ActionController::Base.helpers.number_to_currency(@project.target_amount, precision: 0) %> goal</p>
        </div>  
        
        <div class="project-status-item">
          <h1><%= @project.days_to_go %></h1>
          <p>days to go</p>
        </div>  
        
        <% if @project.backer?(current_user)%>
          <%- backing = current_user.backing_to(@project) %>
            <%= link_to "Manage your pledge", '#edit_modal',  class: "btn btn-default create-pledge-button", 'data-toggle' => "modal" %>
        <% else %>
          <%= link_to "back this project", '#new_modal',  class: "btn btn-default create-pledge-button", 'data-toggle' => "modal" %>
        <% end %>  
        <br> 
        <% if @project.creator?(current_user)%>
          <%= link_to "edit your project", edit_project_url(@project), class: "btn btn-default manage-pledge-button"  %>
        <% end %>  
      </div>
    </div>
  </div>

  <% if @project.backer?(current_user)%>
    <div class="modal fade" id="edit_modal" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add value to your pledge</h4>
          </div>
          
          <div class="modal-body">
            <%- back = current_user.backs.where(project_id: params[:id]).first %> 
            <%= render 'backs/edit', modal: true, project: @project, back: back %>
          </div>
          
        </div>
      </div>
    </div>
  <% end %>

  <div class="modal fade" id="new_modal" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Back this project</h4>
        </div>
        
        <div class="modal-body">
          <%= render 'backs/new', modal: true, project: @project %>
        </div>
        
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
	BigStart.initialize( <%= @project.id %>);
	
  $(".project-content-header").click(function(event){
    var $target = $(event.target);
    $target.parent().siblings().removeClass('active');
    $target.parent().addClass("active");
  });

  var current_tab = window.location.hash;
  var selector = '.project-content-header a[href$="' + current_tab + '"]';
  $(selector).parent().siblings().removeClass('active');
  $(selector).parent().addClass('active');
});

</script>
