<div class="search-result">
  <% results.each(function(result){ %>
    <div class="mix project-thumbnail thumbnail" data-fund="<%= result.get("funded")%>" data-days= <%= result.get("days_to_go")%> data-percentage="<%= result.get("funded_percentage") %>"> 
      <a href="/projects/<%= result.id %>"><img src="<%= result.get("project_photo_url")%>"></a>
      
      <div class="caption">
        <a href="/projects/<%= result.id %>">
          <h5><%= result.get("title") %></h5>
        </a> 
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow='<%= result.get("funded_percentage") %>' aria-valuemin="0" aria-valuemax="100" style='width: <%= result.get("funded_percentage") %>%;'>
        </div>
      </div>    
      <ul class="project-stat">  
        <li>
          <h5><%= result.get("funded_percentage") %>%</h5>
          funded  
        </li>  
        <li>
          <h5>$<%= result.get("funded") %></h5>
          pledged
        </li>
        <li>
          <h5><%= result.get("days_to_go") %></h5>
           days to go  
        </li>
      </ul>
    </div>  
  <% }); %>
</div>
